/* .img{
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
} */

#overlay{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000046;
    width: 1600px;
    height: 730px;
}
 
#slideContainer{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1600px;
    height: 730px;
    border-radius: 25px;
    overflow: hidden;
    text-shadow: -3px -3px 0px #780000;
}
#slideContainer > li{
    display: flex;
}

#img1{
    position: absolute;
    left: 0px;
    transition: .6s;
}
#img2{
    position: absolute;
    left: 1600px;
    transition: .6s;
}
#img3{
    position: absolute;
    left: 1600px;
    transition: .6s;
}
#img4{
    position: absolute;
    left: 1600px;
    transition: .6s;
}
#img5{
    position: absolute;
    left: -1600px;
    transition: .6s;
}

#homeBtns{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 40px;
}

#homeBtnLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 840px;
}
#homeBtnLeft > i{
    color: #5a5a5a;
    height: 45px;
    width: 45px;
    transition: .2s;
}
#homeBtnLeft > i:hover{
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-shadow: -7px 0px 0px #780000;
}

#homeBtnRight{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 840px;
}
#homeBtnRight > i{
    color: #5a5a5a;
    height: 45px;
    width: 45px;
    transition: .2s;
}
#homeBtnRight > i:hover{
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-shadow: 7px 0px 0px #780000;
}