nav{
    z-index: 2;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    height: 30px;
}
nav > a{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: .2s;
}
nav > a:hover{
    color: #780000;
}

nav > a:nth-child(1){
    position: absolute;
    left: 0px;
}
nav > a:nth-child(2){
    position: absolute;
    left: 220px;
}
nav > a:nth-child(3){
    position: absolute;
    left: 400px;
}
nav > a:nth-child(4){
    position: absolute;
    left: 625px;
}
nav > a:nth-child(5){
    position: absolute;
    right: 364px;
}
nav > a:nth-child(6){
    position: absolute;
    right: 190px;
}
nav > a:nth-child(7){
    position: absolute;
    right: 0px;
}